    ${ reg_nym }$ = seu_layer.ewe_regs[${ reg_id }$];%{ if shift_width > 0 }%
    ${ reg_nym }$ = (${ reg_nym }$ & 0x300) | ((${ reg_nym }$ << ${ shift_width }$) & 0x0FF);%{ endif }%%{ if invert }%
    ${ reg_nym }$ = (${ reg_nym }$ & 0x300) | (0x0FF - (${ reg_nym }$ & 0x0FF));%{ endif }%
    __baryon_num_vrs = baryon_count_ewe_rows(${ reg_nym }$);
    __baryon_nth_idx = 0;
    baryon_foreach_ewe_row(${ reg_nym }$, row_number, {
        __baryon_vrs[__baryon_nth_idx] = &apuc.vrs[row_number];
        __baryon_nth_idx += 1;
    });
