## if doc_comment
/**
## for line in doc_comment:
 * ${ line }$
## endfor
 */
## endif
void ${ identifier }$(
        %{ for parameter in parameters }%${ parameter }$%{ if not loop.last }%,
        %{ endif }%%{ endfor }%)
