${emit_copyright()}$

#ifndef __BELEX_CONSTANTS__H__
#define __BELEX_CONSTANTS__H__

#define BELEX_EXIT_SUCCESS	0
#define BELEX_EXIT_FAILURE -1

#define BELEX_APC_PARITY_SET_BITS 3

#define BELEX_L1_VA_SET_DATA_ADDR_BITS BELEX_APC_PARITY_SET_BITS
#define BELEX_L1_VA_SET_PARITY_ADDR_BITS 1
#define BELEX_L1_VA_SET_ADDR_BITS \
  (BELEX_L1_VA_SET_DATA_ADDR_BITS + BELEX_L1_VA_SET_PARITY_ADDR_BITS)
#define BELEX_L1_VA_SET_ADDR_ROWS (1 << BELEX_L1_VA_SET_ADDR_BITS)
#define BELEX_L1_NUM_DATA_ROWS_PER_GRP 192
#define BELEX_L1_VA_SET_DATA_ADDR_BITS BELEX_APC_PARITY_SET_BITS
#define BELEX_L1_VA_NUM_SETS \
  (BELEX_L1_NUM_DATA_ROWS_PER_GRP / (1 << BELEX_L1_VA_SET_DATA_ADDR_BITS))
#define BELEX_L1_VA_NUM_ROWS (BELEX_L1_VA_SET_ADDR_ROWS * BELEX_L1_VA_NUM_SETS)

#define BELEX_VM_ROWS_PER_U16 4

#define BELEX_NUM_PLATS_PER_HALF_BANK 2048

#define BELEX_NUM_HALF_BANKS_PER_APC 8
#define BELEX_NUM_PLATS_PER_APC \
  (BELEX_NUM_PLATS_PER_HALF_BANK * BELEX_NUM_HALF_BANKS_PER_APC)

#define BELEX_NUM_APCS_PER_APUC 2
#define BELEX_NUM_HALF_BANKS_PER_APUC \
  (BELEX_NUM_HALF_BANKS_PER_APC * BELEX_NUM_APCS_PER_APUC)
#define BELEX_NUM_PLATS_PER_APUC \
  (BELEX_NUM_PLATS_PER_APC * BELEX_NUM_APCS_PER_APUC)

#define BELEX_NUM_APUCS_PER_APU 4
#define BELEX_NUM_APCS_PER_APU \
  (BELEX_NUM_APCS_PER_APUC * BELEX_NUM_APUCS_PER_APU)
#define BELEX_NUM_HALF_BANKS_PER_APU \
  (BELEX_NUM_HALF_BANKS_PER_APUC * BELEX_NUM_APCS_PER_APU)
#define BELEX_NUM_PLATS_PER_APU \
  (BELEX_NUM_PLATS_PER_APUC * BELEX_NUM_APUCS_PER_APU)

#define BELEX_L2T_STRIDE_SIZE 4

#define BELEX_VR16_SIZE (32 * 1024)
#define BELEX_VR16_SIZE_IN_BYTES (BELEX_VR16_SIZE * sizeof(uint16_t))

#define BELEX_L2_CTL_ROW_ADDR_BIT_IDX_BITS 4

#define BELEX_L2DMA_APC_ID_0 0
#define BELEX_L2DMA_APC_ID_1 1

#endif /* __BELEX_CONSTANTS__H__ */
