import builtins

from BLEIR import (
%{- for kind in imports }%
    ${ kind }$,
%{- endfor }%
    SyntacticError,
)

class BLEIRVisitor:%{ for visit_fn in definitions }%

${ visit_fn -}$
%{ endfor -}%
## if definitions|length == 0:
    pass
## endif
