${emit_copyright()}$

#include <stdbool.h>
#include <stdlib.h>

#include <gsi/baryon/apuc.h>
#include <gsi/baryon/seu_layer.h>
#include <gsi/libapl.h>

#include "${header_file}$"

extern baryon_apuc_t apuc;
extern baryon_seu_layer_t seu_layer;

extern baryon_glass_stmt_t glass_stmt;

extern baryon_rl_t src_rl;
extern baryon_gl_t src_gl;
extern baryon_gl_t src_ggl;
extern baryon_rsp16_t src_rsp16;

## for definition in definitions:
${ definition }$

## endfor
